@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

@font-face {
  font-family: aquirelight;
  src: url(./fonts/AquireLight-YzE0o.otf);
}

@font-face {
  font-family: aquirebold;
  src: url(./fonts/AquireBold-8Ma60.otf);
}

h1,
h2,
h3 {
  font-family: aquirebold;
  color: #0fff50;
}

